$primary-lighten2: #b6c6f0;
$primary-lighten1: #869fdd;
$primary-base: #5f7dc6;
$primary-darken1: #4160ad;
$primary-darken2: #27489d;
$text-lighten2: #3b3e43;
$text-lighten1: #2f3034;
$text-base: #252629;
$text-darken1: #212326;
$text-darken2: #181b21;